.container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 50px;
}

.container h1 {
  font-size: 40px;
  font-weight: 700;
  padding: 5px 40px 10px 40px;
}

.container h2, h3 {
  text-align: start;
  padding: 5px 40px 10px 40px;
}

.container h3, .trybeLink {
  color: #00acf0bd;
 }


.container img {
  width: 250px;
}

.container p {
  color: #c9c5c5;
  text-align: justify;
  font-weight: 400px;
  font-size: 18px;
  line-height: 30px;
  max-width: 800px;
  padding: 5px 40px 10px 40px;
  letter-spacing: 1px
}

.about {
  align-items: self-start;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.aboutEducation {
  align-items: self-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutEducation h3:hover {
  color: #00abf0;
}


@media screen and (max-width: 768px) {
   .container {
    flex-direction: column;
    padding-top: 50px;
    margin-bottom: 50px;
   }

   .container img {
    display: none;
   }

   .container h3 {
    text-align: start;
    font-size: 17px;
   }

   .container p {
    font-size: 16px;
    letter-spacing: 0;
   }
   
}

    