.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;
  min-height: 70vh;
  margin-bottom: 170px;
}

.contactHeader {
  padding-bottom: 50px;
}

.container h1 {
  font-size: 40px;
  font-weight: 700;
  padding: 5px 40px 10px 40px;
}

.container h2 {
  color: #A7A7A7;
}

.container h2:hover {
  color: #00abf0;
}

@media screen and (max-width: 768px) {
  .container {
    display: block;
    margin-bottom: 0;
  }

  .contactHeader {
    padding-bottom: 20px;
  }

  .footer {
    padding-top: 80px;
  }
}
  