.card {
  align-items: center;
  border-radius: 10px;
  background: #363636;
  box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.20); 
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 270px;
  height: 380px;
  transition: transform 0.3s ease;
}

.card:hover {
  box-shadow: 2px 2px 5px 1px #00acf034;
  transform: scale(1.01);
}

.card .imageProject {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 200px;

}

.card h2 {
  color:  #CCC;
  text-align: start;
  font-weight: 500;
  line-height: 26px;
  margin-top: 5px;
}

.card p {
  color: #CCC;
  font-weight: 300px;
  line-height: 26px;
  font-size: 13px;
}

.infos {
    padding: 10px;
}

.infos h2 {
    margin-bottom: 10px;
}

.cardLinks {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  gap: 50px;
  width: 100%;
  
}

.cardLinks a {
  font-size: 13px;
  padding: 5px;
}

.cardLinks a:hover {
  text-decoration: underline;
  color: #CCC;
}
