.header {
  align-items: center;
  background: transparent;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  top:0;
  left:0;
  width: 100%;
}

.logo {
  color: #edededd8;
  font-size: 20px;
  text-decoration: none;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .header {
    justify-content: center;
  }
  .logo {
    display: none;
  }
}
  

