.header {
  align-items: center;
  background: transparent;
  display: flex;
  top:0;
  left:0;
  padding: 20px 10%;
  justify-content: space-between;
  width: 100%;
}

.logo {
  color: #edededd8;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .header {
    justify-content: space-between;
    padding: 10px 5px 10px 5px;
  }

  .logo {
    display: none;
  }
}
  

