.projectsContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
}

.projectsContainer h1 {
  font-size: 40px;
  font-weight: 700;
  padding: 5px 40px 10px 40px;
}

.cards {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.footer {
  display: none;
}

@media screen and (max-width: 768px) {
  .footer {
    display: block;
    margin-top: 50px;
  }
}

@media screen and (max-width: 350px) {
  .projectsContainer h1 {
   font-size: 30px;
  }

  .projectsContainer h3 {
    font-size: 16px;
  }
}


