.projectsContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
}

.projectsContainer h1 {
  font-size: 40px;
  font-weight: 700;
  padding: 5px 40px 10px 40px;
}

.cards {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px; 
}

@media screen and (max-width: 768px) {
  
  .projectsContainer {
    padding-bottom: 0;
  }

  .footer {
    position: relative;
    padding-top: 80px;
  }
}

@media screen and (max-width: 350px) {
  .projectsContainer h1 {
    font-size: 30px;
  }

  .projectsContainer h3 {
    font-size: 16px;
  }
}


