.listFooter {
  align-items: center;
  align-self: center;
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

.listFooter li img {
  width: 23px;
}

.links {
  display: flex;
  gap: 10px;
  padding-right: 10px;
}

.listFooter li {
  color: #A7A7A7;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 26px;
  text-align: center;
}

.listFooter li p {
  align-items: center;
  text-align: center;
}

.lineFooter {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.line {
  width: 80%;
}

@media screen and (max-width: 768px) {
    .listFooter {
      justify-content: center;
      padding-bottom: 0 10px 20px 10px; 
      gap: 95px;
    }
    .links {
      gap: 20px;
    }
    .lineFooter {
      display: none;
    }
}

@media screen and (max-width: 350px) {
    .listFooter {
      gap: 50px;
    }
} 