.listFooter {
  align-items: center;
  display: flex;
  justify-content: space-around;
  align-self: center;
  gap: 30px;
}

.listFooter li img {
  width: 23px;
}

.links {
  display: flex;
  gap: 10px;
  padding-right: 10px;
}

.listFooter li {
  color: #A7A7A7;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  font-size: 13px;
  text-align: center;
}

.listFooter li p {
  text-align: center;
  align-items: center;
}

.lineFooter {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.line {
  width: 80%;
}

@media screen and (max-width: 768px) {
    .listFooter {
        justify-content: center;
        padding: 10px;
        gap: 90px;
    }
    .links {
        gap: 20px;
    }
    .lineFooter {
        display: none;
    }
}

@media screen and (max-width: 350px) {
    .listFooter {
        gap: 50px;
    }
}