.navContainer .linksNav {
  display: flex;
  gap: 20px;
}

.linksNav {
  font-size: 18px;
  color: #ededed;
  font-weight: 500;
}

.gitHubAndLinkedinLinks {
  display: flex;
  gap: 10px;
  margin-left: 15px;
}

.gitHubAndLinkedinLinks a img {
  width: 25px;
  height: 25px;
}

.active {
  color: #00abf0;
}

@media screen and (max-width: 768px) {
  .gitHubAndLinkedinLinks {
    display: none;
  }

  .linksNav {
    font-size: 17px;
    padding: 0, 10px, 0, 10px;
  }
  
}