.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.LinkedinLink, .gitHubLink {
  width: 35px;
  margin-top: 5px;
  padding: 5px;
}

.linksNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

li {
  list-style: none;
}

@media screen and (max-width: 768px) {
  .container {
    justify-content: center;
  }

  .LinkedinLink, .gitHubLink {
    display: none;
  }

  .linksNav a {
    font-size: 17px;
  }

  .linksNav {
    padding: 10px;
    margin-left: 17px;
    gap: 18px;
    justify-content: center;
    text-align: center;
  }
}
    