.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
} 

.container img {
   max-width: 600px;
}

.container p {
  font-size: calc(10px + 2vmin);
  color: #D9D9D9;
  text-align: center;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 600px) {
  .container img {
    max-width: 300px;
  }
}
    
